*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(221, 100%, 96%);

}

.result{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.summary{
    background-color: blueviolet;
}